name: generate-snake

on:
  schedule:
    # Every Monday at 00:00 UTC
    - cron: "0 0 * * 1"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: iiRoy
          outputs: |
            assets/github-snake.svg?palette=github-dark

      - name: Commit and push
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "chore: update snake"
          add: "assets/github-snake.svg"
